<div class="footer">
  <div class="container">
    <div class="footer-links pt-5 text-center text-md-start pb-4">
      <div class="row">
        <div class="links col-lg-4 col-md-6">
          <h5 class="position-relative">About Us</h5>
          <div class="d-flex">
            <p class="paragraph"> Our job fair is the perfect place for job seekers to network
              with potential employers and learn about exciting new opportunities.</p>
          </div>
          <div class="follow-us-section">
            <p>Follow Us</p>
            <div class="social-media-icons">
              <ul class="d-flex list-unstyled gap-3">
                <li>
                  <a class="d-block text-light" href="#"
                  ><div class="facebook">
                    <fa-icon [icon]="faFacebookF" class="facebook"></fa-icon>
                  </div></a>
                </li>
                <li>
                  <a class="d-block text-light" href="#"
                  ><div class="twitter">
                    <fa-icon [icon]="faTwitter" ></fa-icon>
                  </div></a>
                </li>
                <li>
                  <a class="d-block text-light" href="#"
                  ><div class="linkedIn">
                    <fa-icon [icon]="faLinkedinIn" ></fa-icon>
                  </div></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="links col-lg-2 col-md-6">
          <h5 class="position-relative">Candidates</h5>
          <ul class="list-unstyled list-links">
            <li><a>All Jobs</a></li>
            <li><a>All Candidates</a></li>
            <li><a>Job listing</a></li>
            <li><a>Freelancers</a></li>
            <li><a>My Account</a></li>
          </ul>
        </div>
        <div class="links col-lg-2 col-md-6">
          <h5 class="position-relative">Employers</h5>
          <ul class="list-unstyled list-links">
            <li><a>All jobs</a></li>
            <li><a>All jobs</a></li>
            <li><a>All jobs</a></li>
            <li><a>All jobs</a></li>
            <li><a>All jobs</a></li>
          </ul>
        </div>
        <div class="links col-lg-4 col-md-6">
          <h5 class="position-relative">News Letter</h5>
          <div class="d-flex">
            <p class="paragraph">You can network with hiring managers and submit your resume on the spot.</p>
          </div>
          <div class="w-100 d-flex">
            <div class="position-relative news-letter-section d-flex">
              <input class="form-control news-letter" type="text" placeholder="Type Your Mail">
              <div class="icon-wrapper-send">
                <fa-icon [icon]="faPaperPlane" size="1x"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line-footer pt-2 pb-2">
    <div class="container">
      <div class="d-flex justify-content-between gap-1">
        <span>Privacy Policy</span>
        <span>Terms of Service</span>
        <span>Security and Services</span>
      </div>
    </div>
  </div>
</div>
