<div class="landing-section position-relative">
    <div class="insider container d-flex  h-100 text-sm-center">
        <div class="row w-100 z-1 position-relative">
            <p class="fs-1 text-white">Find A Job & Build Your <br> Better Career</p>
            <form>
                <div class="row col-lg-9 col-sm-10 text-md-center form-div">
                    <div class="col-lg-4 col-md-6 position-relative job-search ">
                        <input type="text" class="form-control mb-2 " placeholder="Keyword or Phrase" autofocus>
                        <fa-icon  [icon]="faMagnifyingGlass"></fa-icon>
                    </div>
                    <div class="col-lg-4 col-md-6 position-relative location-search">
                        <fa-icon [icon]="faLocationCrosshairs"></fa-icon>
                        <input type="text" class="form-control mb-2" placeholder="location">
                    </div>
                    <div class="col-lg-4 col-md-12 position-relative search-button">
                        <button class="btn btn-primary w-100">Search Jobs</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
