<div class="auth-section">
  <div class="container">
    <div class="row justify-content-around">
      <form
        class="mt-4 col-lg-5 col-md-7 col-sm-9"
      >

        <h2 class="text-center">{{isLogin ? 'Login' : 'Register'}}</h2>
        <div class="">
          <div class="mb-4">
            <label class="fw-bold col-form-label">UserName</label>
            <input class="form-control"
                   placeholder="username"
                   type="text"
            >
          </div>
          <div class="mb-4">
            <label class="fw-bold col-form-label">Password</label>
            <input class="form-control"
                   placeholder="password"
                   type="text"
            >
          </div>
          <div>
            <div class="text-sm-start w-100">
              <button class="btn btn-primary">{{isLogin ? 'Login' : 'Register'}}</button>
            </div>
            <hr>
            <div class="w-100 text-sm-start">
              <button class="btn btn-primary">{{isLogin ? 'Register' : 'Login'}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
