.navbar-section {
    /*background-color: #ffffff;*/
    background-color: #eee;
}

button {
    padding: 6px 15px;
    border: none;
    background-color: #4357d1;
    color: white;
    border-radius: 2px;
}

button span {
    font-size: 14px;
}

.brand-style {
  color: #4357d1;
}

.active-tab{
  color: #4357d1;
}

.activeTab::after{
  content: '';
  width: 75%;
  height: 2px;
  position: absolute;
  background-color: #4357d1;
  left: 12.5%;
  bottom: 2px
}
