.top-header {
  background-color: #1e1e1e;
  color: white;
  font-size: 12px;
  height: 30px;
}

.top-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .container .contact-portion {
  display: flex;
  gap: 10px;
  align-items: center;
}

.top-header .container .contact-portion div > * {
  margin-right: 5px;
}

.top-header .container .user-portion {
  display: flex;
  gap: 10px;
}

.top-header .user-portion div > * {
  margin-right: 5px;
}
