<div class="top-header">
  <div class="container">
    <div class="contact-portion">
      <div>
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Info@email.com</span>
      </div>
      <div>
        <fa-icon [icon]="faPhoneVolume"></fa-icon>
        <span>+1 (515) 761 876</span>
      </div>
    </div>
    <div class="user-portion">
      <div *ngIf="!(currentUser$ | async)" class="login-button button-pointer" [routerLink]="'/login'" [routerLinkActive]="'activeButton'">
        <fa-icon  [icon]="faArrowRightToBracket"></fa-icon>
        <span>Login</span>
      </div>
      <div *ngIf="!(currentUser$ | async)" class="register-button button-pointer" [routerLink]="'/register'" [routerLinkActive]="'activeButton'">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <span>Register</span>
      </div>
      <div *ngIf="currentUser$ | async" class="register-button button-pointer" [routerLink]="'/job-listing'" [routerLinkActive]="'activeButton'">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>My Account</span>
      </div>
      <div *ngIf="currentUser$ | async" class="register-button button-pointer" [routerLink]="'/'"
        (click)="logout()">
        <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
        <span>Logout</span>
      </div>
      <div class="dropdown-toggle button-pointer">
        <span>English</span>
      </div>
    </div>
  </div>
</div>


