<div class="top-header">
  <div class="container">
    <div class="contact-portion">
      <div>
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Info@email.com</span>
      </div>
      <div>
        <fa-icon [icon]="faPhoneVolume"></fa-icon>
        <span>+1 (515) 761 876</span>
      </div>
    </div>
    <div class="user-portion">
      <div class="login-button button-pointer">
        <fa-icon [icon]="faArrowRightToBracket"></fa-icon>
        <span>Login</span>
      </div>
      <div class="register-button button-pointer">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <span>Register</span>
      </div>
      <div class="dropdown-toggle button-pointer">
        <span>English</span>
      </div>
    </div>
  </div>
</div>


